* { 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
} 
 
.content { 
     padding: 1rem ;
    background-color: #fff;
    margin: 0;
    } 




@media screen and (min-width: 1200px) {
    .content {
        max-width: 1200px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
 
